html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

/* login */
.content__left {
    padding: 52px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.content__right {
    padding: 185px 161px 125px 137px;
    width: 50%;
}

.content__form {
    margin: 0;
    width: 424px;
}

.content__left_title {
    margin: 0;
    padding-top: 135px;
    text-align: left;
    padding-left: 106px;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.content__left_descr {
    margin: 0;
    margin-top: 35px;
    margin-left: 106px;
    width: 420px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.logo {
    padding: 20px 52px;
    color: #000;
    background-color: #fff;
    border-radius: 90px;
}

.content__right_title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38.09px;
    color: rgba(255, 150, 97, 1);
}

.content__form_title {
    margin: 0;
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(66, 84, 102, 1);
}

.content__form_input {
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: rgba(122, 130, 138, 1);
    background-color: rgba(237, 242, 247, 1);
    border: none;
    border-radius: 6px;
    width: 100%;
    transition: outline 0.3s ease-in-out;
}

.content__form_input:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
}

.content__form_input:focus {
    outline: 2px solid rgba(254, 200, 0, 1);
    box-shadow: 0 0 7px rgba(254, 200, 0, 1);
}

.content__form_input:active {
    outline: 2px solid rgba(254, 200, 0, 1);
    box-shadow: 0 0 7px rgba(254, 200, 0, 1);
}

.content__form_select {
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: rgba(122, 130, 138, 1);
    background-color: rgba(237, 242, 247, 1);
    border-radius: 6px;
}

.content__form_select:focus {
    outline: 2px solid rgba(255, 150, 97, 1);
    border: none;
}

.content__form_select:active {
    outline: 2px solid rgba(255, 150, 97, 1);
    border: none;
}

.content__form_link {
    margin: 0;
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(119, 126, 144, 1);
}

.content__form_link-extra {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(119, 126, 144, 1);
}

.in-account, .create-account  {
    margin: 0;
    display: flex;
    justify-content: center;
}

.no-account, .existing-account {
    font-size: 14px;
    line-height: 24px;
}

.to-sign-up, .to-sign-in {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 150, 97, 1);
    transition: color 0.3s ease-in-out;
}

.to-sign-up:focus {
    color: rgba(255, 150, 97, 1);
}

.to-sign-up:hover {
    color: rgba(0, 0, 0, 1);
}

.to-sign-up:active {
    color: rgba(255, 150, 97, 1);
}

.google-icon {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    fill: #FF9661;
    transition: fill 0.3s ease-in-out;
}

.google-icon:focus{
    fill: rgb(208, 77, 12);;
    outline-offset: 5px;
}

.google-icon:hover {
    fill: rgb(208, 77, 12);;
}

.google-icon:active {
    fill: rgb(208, 77, 12);;
    outline: none;
}

.content__form_checkbox {
    margin-top: 7px;
}

.content__form_checkbox_input {
    margin: auto 0;
    margin-left: 10px;
}

#scales {
    cursor: pointer;
}

.btn {
    margin: 30px 0;
    padding: 16px 0;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(90deg, #FFE586 0%, #FF9661 49.6%, #FF7163 80.1%, #FFC7C6 100%);
    border-radius: 90px;
    box-shadow: 0 0 15px #e9b985;
    transition: background 0.3s ease-in-out;
}

.btn:focus {
    background: linear-gradient(270deg, #FFE586 0%, #FF9661 49.6%, #FF7163 80.1%, #FFC7C6 100%);
}

.btn:hover {
    background: linear-gradient(270deg, #FFE586 0%, #FF9661 49.6%, #FF7163 80.1%, #FFC7C6 100%);
}

.btn:active {
    background: linear-gradient(270deg, #FFE586 0%, #FF9661 49.6%, #FF7163 80.1%, #FFC7C6 100%);
}

/* registration */
.registration-content__right {
    padding: 100px 162px 0 134px;
}

.registration-content__form_link {
    margin: 0;
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(119, 126, 144, 1);
}

/* header */
.header__container {
    padding: 20px 0;
}

.vertical-line {
    margin: auto 0;
    margin-left: 32px;
    width: 1px;
    height: 40px;
    background-color: rgba(255, 237, 134, 1);
    display: inline-block;
}

.icon {
    padding: 4px 13px;
    background-color: #fff;
    border-radius: 90px;
}

.header__nav {
    margin: auto auto auto 32px;
}

.header__nav_item {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: rgba(119, 126, 144, 1);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.header__nav_item:focus {
    color: rgb(53, 54, 58);
    outline: none;
}

.header__nav_item:hover {
    color: rgb(53, 54, 58);
}

.header__nav_item:active {
    color: rgb(0, 0, 0);
}

.header__nav_item:not(:last-child) {
    margin-right: 32px;
}

.header__profile {
    margin: auto 0;
    margin-left: auto;
}

.profile-avatar {
    fill: rgba(255, 229, 134, 1);
    transition: fill 0.2s ease-in-out;
}

.profile-avatar:hover {
    fill: rgba(254, 200, 0, 1);
}

.header__line {
    margin: 0 auto;
    width: 99%;
    border: 1px solid rgba(255, 237, 134, 1);
}

/* main */
.body__line {
    margin: 0 auto;
    width: 99%;
    border: 1px solid rgba(230, 232, 236, 1);
}

.cards {
    margin-top: 80px;
}

.cards__content {
    width: 99%;
    margin: 0 auto;
}

.cards__title2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1)
}

.cards__title1 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1)
}

.cards__list {
    margin-top: 50px;
}

.cards__item {
    margin: 0;
    margin-bottom: 40px;
    outline: 2px solid rgba(255, 237, 173, 1);
    border-radius: 20px;
    width: 352px;
    min-height: 459px;
    transition: outline 0.3s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.cards__item:not(:last-child) {
    margin-right: 32px;
}

.cards__item:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
    box-shadow: 0 0 25px rgba(255, 237, 173, 1);
}

.cards__item:focus {
    outline: 2px solid rgba(255, 237, 173, 1);
}

.cards__item:active {
    outline: 2px solid rgba(254, 200, 0, 1);
}

.cards__preview_content {
    margin: 0;
    padding: 30px 40px;
}

.cards__preview_name {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.cards__preview_descr {
    margin: 0;
    width: 249px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(20, 20, 22, 1);
}

.cards__btn {
    margin-left: auto;
}

.cards__btn, .message-btn {
    transition: fill 0.3s ease-in-out;
}

.cards__btn, .message-stroke {
    transition: stroke 0.3s ease-in-out;
}

.cards__btn:hover .message-btn {
    fill: rgba(254, 200, 0, 1);
}

.cards__btn:hover .message-stroke {
    stroke: rgba(254, 200, 0, 1);
}

.cards__btn:hover {
    fill: rgba(254, 200, 0, 1);
}

.message-btn {
    fill: #FFE586;
    stroke: #FFE586
}

.message-stroke {
    stroke: #FFE586;
}

.cards__preview_image {
    height: 273px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cards__switch {
    margin-top: 40px;
    margin-left: auto;
    display: flex;
    justify-content: right;
}

.cards__switch_left {
    padding: 8px 8px 5px 8px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    transition: outline 0.3s ease-in-out;
}

.cards__switch_right {
    margin-left: 8px;
    padding: 8px 8px 4px 8px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    transform: rotate(180deg);
    transition: outline 0.3s ease-in-out;
}

.cards__switch_left:hover {
    outline: 1px solid rgba(177, 181, 195, 1);
}

.cards__switch_right:hover {
    outline: 1px solid rgba(177, 181, 195, 1);
}

/* directions */
.directions {
    margin-top: 150px;
}

.directions__container {
    max-width: 667px;
    display: flex;
    justify-content: center;
}

.directions__item:not(:last-child) {
    margin-right: 44px;
}

.direction__item_icon, .direction__item_icon-elem {
    transition: fill 0.3s ease-in-out;
}

.direction__item_icon:hover .direction__item_icon-elem {
    fill: #fff;
}

.direction__item_icon:hover {
    fill: #FF9661;
}

.direction__item_icon-elem {
    fill: #FF9661;
}

.directions__item_name {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 117, 48, 1);
    transition: color 0.3s ease-in-out;
}

.directions__item_name:hover {
    color: rgb(208, 77, 12);
}

/* questions */
.questions {
    margin-top: 150px;
    margin-bottom: 100px;
}

.questions__content {
    width: 98%;
    margin: 0 auto;
}

.questions__title2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1)
}

.questions__title1 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1)
}

.questions__list {
    margin-top: 40px;
}

.questions__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* padding: 30px 25px; */
    width: 354px;
    min-height: 345px;
    background-color: rgba(244, 245, 246, 1);
    border-radius: 20px;
    outline: 2px solid rgba(254, 200, 0, 1);
    transition: outline 0.3s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.questions__item:not(:last-child) {
    margin-right: 32px;
}

.questions__item:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
    box-shadow: 0 0 25px rgba(255, 237, 173, 1);
}

.questions__item_question {
    margin: 0;
    padding: 30px 25px 0 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(59, 82, 102, 1);
}

.questions__item_author {
    margin-top: auto;
    padding: 0 25px;
    padding-bottom: 30px;
    width: 304px;
    height: 60px;
}

.questions__item_author_info {
    margin-left: 20px;
}

.questions__name {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: rgba(48, 70, 89, 1);
}

.questions__direction {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: rgba(85, 85, 85, 1);
}

/* tutor_cards */
.search {
    margin-top: 80px;
}

.search__input {
    padding: 12px 14px;
    padding-left: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(98, 98, 100, 1);
    background-color: rgb(243, 242, 242);
    border-radius: 15px;
    box-shadow: 0 0 10px #d7d6d6;
    width: 500px;
    border: none;
}

.search__input:focus {
    outline: 2px solid rgb(204, 204, 206);
}

.search__form {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: auto;
      left: 16px;
      margin: auto 0;
      width: 20px;
      height: 20px;
      background: url('https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png') no-repeat;
      background-size: cover;
    }
}

input[type="checkbox"] {
    appearance: none;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
  
input[type="checkbox"]:checked {
    background-color: rgba(255, 237, 173, 1);
    border-color: rgba(255, 237, 173, 1);
}

.filter {
    margin-left: 68px;
    padding: 14px 17px;
    background-color: rgba(255, 150, 97, 1);
    border-radius: 10px;
    box-shadow: 3px 2px 5px rgb(235, 196, 177);;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.filter:hover {
    background-color: rgb(252, 105, 32);
}

.filter:focus {
    background-color: rgb(252, 105, 32);
}

.filter:active {
    background-color: rgb(189, 76, 20);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.close {
    margin: auto 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    transition: color 0.3s ease-in-out;
}

.close:hover,
.close.focus {
    color: rgb(252, 105, 32);
    text-decoration: none;
    cursor: pointer;
}

.popup__header {
    margin: 0;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 212, 55, 1);
}

.popup__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-left: 850px;
    padding: 14px 25px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 263px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.popup__line {
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgba(217, 218, 219, 1);
}

.popup__btn {
    margin: 30px auto;
    padding: 5px 7px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 140px;
}

.popup__list {
    margin-top: 25px;
}

.popup__item:not(:last-child) {
    margin-bottom: 15px;
}

.popup__item:last-child {
    margin-bottom: 30px;
}

.filter__name {
    margin: 0;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(75, 81, 87, 1);
}

.filter__count {
    margin: 0;
    margin-left: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(147, 150, 153, 1);
}

.popup__text {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(147, 150, 153, 1);
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.tutor_cards__list {
    margin-top: 50px;
    flex-wrap: wrap;
}

.tutor_cards__item {
    margin: 0;
    margin-right: 32px;
    outline: 2px solid rgba(255, 237, 173, 1);
    border-radius: 20px;
    width: 255px;
    min-height: 383px;
    transition: outline 0.1s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.tutor_cards__item:nth-child(4n) {
    margin-right: 0;
}

.tutor_cards__item:nth-child(-n+8) {
    margin-bottom: 80px;
}

.tutor_cards__item:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
    box-shadow: 0 0 25px rgba(255, 237, 173, 1);;
}

.tutor_cards__preview_content {
    margin: 0;
    padding: 40px 10px;
    padding-top: 23px;
}

.tutor_cards__preview_name {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.tutor_cards__preview_descr {
    margin: 0;
    width: 219px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(20, 20, 22, 1);
}

.tutor_cards__preview_image {
    height: 188px;
    background-color: rgba(177, 181, 195, 1);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutor_cards__btn {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 130px;
    width: 322px;
}

.notice-btn {
    margin: auto 0 auto auto;
    border-radius: 50%;
    fill: #FF9661;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}

.notice-btn:hover {
    fill: rgb(208, 77, 12);;
}

.card {
    cursor: pointer;
}

.front,
.back{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.5s linear;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #ffe585;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.back-content{
    color: rgba(24, 33, 53, 1);
    text-align: center;
    padding: 21px 18px;
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

/* questions_list */
.questions_list {
    margin-top: 100px;
}

.questions_list__write_title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(35, 38, 47, 1);
}

.questions_list__write_form {
    margin-top: 40px;
    padding: 24px;
    height: 80px;
    width: 1000px;
    position: relative;
    outline: 2px solid rgba(255, 229, 134, 1);
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(254, 200, 0, 1);
}

.questions_list__write_form input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(98, 98, 100, 1);
}

.questions_list__write_form button {
    margin: 0 auto;
    margin-left: 24px;
    padding: 0;
    width: 187px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: rgba(252, 252, 253, 1);
}

.questions_block {
    margin-top: 100px;
    position: relative;
}

.questions_block:not(:last-child) {
    margin-bottom: 80px;
}

.questions_block:last-child {
    margin-bottom: 50px;
}

.questions_block__datatime {
    margin: 0;
    position: absolute;
    right: 0;
    color: rgba(119, 126, 144, 1);
}

.questions_block__avatar {
    margin: auto 0;
    width: 65px;
    height: 65px;
}

.questions_block__title {
    margin-left: 20px;
}

.questions_block__name {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: rgba(54, 57, 64, 1);
}

.questions_block__descr {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    width: 900px;
    color: rgba(54, 57, 64, 1);
}

.questions_block__review {
    margin-top: 110px;
}

.questions_block__review_like_image {
    cursor: pointer;
}

.questions_block__review_like_count {
    margin-left: 10px;
}

.questions_block__review_comment {
    margin: auto 0;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}

.questions_block__review_comment_count {
    margin: auto 0;
    font-weight: bold;
    font-size: 18px;
}

.questions_btn {
    display: block;
    margin: 0 auto; 
    margin-bottom: 100px;
    width: 322px;
}

.comment-text {
    display: block;
    margin-left: auto;
    text-align: right;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.comment-text:hover {
    color: rgba(66, 84, 102, 1);
}

.comment-text:focus {
    color: rgba(255, 150, 97, 1);
}

.comment-text:active {
    color: rgba(255, 150, 97, 1);
}

.hidden {
    display: none; 
    margin-top: 30px;
}

.comment__list_title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(35, 38, 47, 1);
    text-align: center;
}

.comment__item {
    width: 925px;
    position: relative;
}

.comment__item:not(:last-child) {
    margin-bottom: 60px;
}

.comment__item:last-child {
    margin-bottom: 32px;
}

.comment__item__datatime {
    margin: 0;
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(119, 126, 144, 1);
}

.comment__item_avatar {
    width: 48px;
    height: 48px;
}

.comment__item_content {
    margin-left: 20px;
}

.comment__item_name {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.comment__item_descr {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(53, 57, 69, 1);
}

.comment__like_count {
    margin: auto 0;
    margin-left: 10px;
    font-weight: normal;
}

/* notices */
.notices__container {
    max-width: 925px;
    margin-bottom: 100px;
}

.notices__title {
    margin: 0;
    margin-top: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(35, 38, 47, 1);
    text-align: center;
}

.notices__item {
    margin-top: 32px;
    padding: 20px;
}

.notices__item_avatar {
    margin: 0;
    width: 50px;
    height: 50px;
}

.notices__item_content {
    margin-left: 20px;
    width: 50%;
}

.notices__item__name {
    display: inline;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.notices__item__descr {
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.notices__item_btns {
    margin: 0;
    margin-top: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.notices__item_btns-accept {
    color: rgba(195, 238, 179, 1);
    transition: color 0.2s ease-in-out;
}

.notices__item_btns-accept:focus {
    color: rgb(37, 84, 20);
    outline: none;
}

.notices__item_btns-accept:hover {
    color: rgb(100, 228, 54);
}

.notices__item_btns-accept:active {
    color: rgb(37, 84, 20);
}

.notices__item_btns-reject {
    margin-left: 15px;
    color: rgba(255, 165, 164, 1);
    transition: color 0.2s ease-in-out;
}

.notices__item_btns-reject:focus {
    color: rgb(122, 37, 35);
    outline: none;
}

.notices__item_btns-reject:hover {
    color: rgb(216, 68, 65);
}

.notices__item_btns-reject:active {
    color: rgb(122, 37, 35);
}

.notices__form {
    margin-left: auto;
    width: 358px;
}

.notices__input {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgb(243, 242, 242);
    border-radius: 12px;
    box-shadow: 0 0 10px #d7d6d6;
    width: 100%;
    border: none;
}

.notices__input:focus {
    outline: 2px solid rgba(119, 126, 144, 1);
}

.notices__form_btn {
    margin: 0;
    margin-top: 16px;
    padding: 0 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    width: 100%;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    outline: 2px solid rgba(255, 229, 134, 1);
    transition: outline 0.3s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

.notices__form_btn:focus {
    background-color: rgba(255, 229, 134, 1);
    outline: 2px solid rgba(254, 200, 0, 1);
}

.notices__form_btn:hover {
    outline: 2px solid rgba(254, 200, 0, 1);
}

.notices__form_btn:active {
    background-color: rgba(255, 229, 134, 1);
    outline: 2px solid rgba(254, 200, 0, 1);
}

.notices__status_accepted {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    color: rgba(195, 238, 179, 1);
    outline: 2px solid rgba(195, 238, 179, 1);
}

.notices__link {
    margin: auto 0;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
}

.notices__status_rejected {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    color: rgba(255, 165, 164, 1);
    outline: 2px solid rgba(255, 165, 164, 1);
}

.notices__status_reviewed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    color: rgba(255, 229, 134, 1);
    outline: 2px solid rgba(255, 229, 134, 1);
}

/* user */
.user__content {
    margin-top: 80px;
}

.user__image {
    /* width: 255px;
    height: 188px;
    outline: 2px solid rgba(255, 150, 97, 1);
    border-radius: 20px 20px 0 0; */
    width: 255px;
    height: 255px;
    border-radius: 50%;
    object-fit: cover;
}

.user__avatar {
    width: 40%;
}

.avatar-input {
    margin-top: 20px;
}

.avatar-button {
    margin-top: 10px;
    padding: 13px 0;
    width: 255px;
}

.user__input {
    margin-left: 128px;
    width: 100%;
}

.user__form {
    margin-top: 20px;
}

.user__form_text {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(35, 38, 47, 1);
}

.user__form_data {
    margin: 0;
    margin-bottom: 32px;
}

.user__name {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(35, 38, 47, 1);
}

.user__form_input {
    margin-bottom: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgba(252, 252, 253, 1);
    border: none;
    outline: 2px solid rgba(230, 232, 236, 1);
    border-radius: 12px;
    width: 100%;
}

.user__form_title {
    margin: 0;
    margin-bottom: 8px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgba(177, 181, 195, 1);
}

.user__form_input_left {
    width: 50%;
}

.user__form_input_right {
    margin-left: 20px;
    width: 50%;
}

.user__form_select {
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: rgba(122, 130, 138, 1);
    background-color: rgba(252, 252, 253, 1);
    border-radius: 6px;
    outline: 2px solid rgba(230, 232, 236, 1);
}

.user__form_select:focus {
    outline: 2px solid rgb(190, 192, 195);
    border: none;
}

.user__form_select:active {
    outline: 2px solid rgb(190, 192, 195);
    border: none;
}

.user__input_timetable-title {
    margin: 0;
    margin-top: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(35, 38, 47, 1);
}

.user__input_timetable {
    margin-top: 30px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(246, 246, 246, 1);
    border-collapse: collapse;
}

.timetable__head_cell {
    width: 92px;
    height: 43px;
    border: 1px solid rgba(255, 229, 134, 1);
    text-align: center;
}

.timetable__body_cell-time {
    width: 90px;
    height: 30px;
    border: 1px solid rgba(255, 229, 134, 1);
    text-align: center;
}

.timetable__body_cell {
    padding: 0;
    width: 90px;
    height: 30px;
    border: 1px solid rgba(255, 229, 134, 1);
    text-align: center;
    cursor: pointer;
}

.timetable__body_cell:hover {
    outline: 2px solid rgba(79, 153, 52, 1);
}

#timetable__body_cell-input {
    margin: 0;
    margin-top: 4.5px;
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#timetable__body_cell-input[type="checkbox"]:checked {
    background-color: rgba(195, 238, 179, 1);
    border-color: rgba(195, 238, 179, 1);
}

.cell_highlighted {
    background-color: rgba(195, 238, 179, 1);
}

.timetable_text {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(35, 38, 47, 1);
}

.user__input_timetable-bottom {
    margin-bottom: 100px;
    display: none;
}

.user__input_timetable-btn {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.user__input_timetable-input {
    margin: auto 0;
    margin-left: 40px;
    padding: 12px 16px;
    width: 358px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgb(243, 242, 242);
    border-radius: 12px;
    box-shadow: 0 0 10px #d7d6d6;
    border: none;
}

.user__input_timetable-input:focus {
    outline: 2px solid rgba(119, 126, 144, 1);
}

.user__btn {
    width: 256px;
}

.user__area {
    margin-top: 25px;
}

.user_item:not(:last-child) {
    margin-bottom: 15px;
}

/* .user_item:last-child {
    margin-bottom: 48px;
} */

/* slider */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: rgba(255, 237, 173, 1);
    position: absolute;
    margin-top: 70px;
    transition: color 0.2s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: rgba(254, 200, 0, 1);
}    

.swiper-button-prev {
    left: 0;
    margin-left: 90px;
}

.swiper-button-next {
    right: 0;
    margin-right: 90px;
}

.swiper-pagination {
    position: initial;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    background-color: rgba(225, 229, 238, 1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgba(20, 20, 22, 1);
}

.swiper-questions-button-prev::after,
.swiper-questions-button-next::after {
    content: '';
}

.swiper-questions-button-prev,
.swiper-questions-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: rgba(255, 237, 173, 1);
    cursor: pointer;
    position: absolute;
    margin-top: -250px;
    transition: color 0.2s ease-in-out;
}

.swiper-questions-button-prev:hover,
.swiper-questions-button-next:hover {
    color: rgba(254, 200, 0, 1);
}

.swiper-questions-button-prev {
    left: 0;
    margin-left: 100px;
}

.swiper-questions-button-next {
    right: 0;
    margin-right: 100px;
}

.swiper-pagination-questions {
    margin: 0 auto;
}

/* .swiper-pagination-questions-bullet {
    background-color: rgba(20, 20, 22, 1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgba(20, 20, 22, 1);
} */

.heart {
    position: absolute;
    color: red;
    font-size: 20px;
}